<ul class="slider"  id="flexisel{{ id }}">
    {% for entity in entities %}
        
        <li>
            <a href="{{ path('post_show', { 'name': entity.title }) }}" title="{{ entity.title }}"> <img src="{{ asset('images/posts/'~entity.photo) }}" style=""  /></a>
        </li>
    {% endfor %}
</ul>
