<div id="search" style="width: 100%" >
    {{ form_start(form) }}
    {{ form_row(form.search) }}
    {{ form_widget(form.submit,  {'label': 'Search', 'attr': {'class': 'btn btn-default'}}) }}
    {{ form_end(form) }}
    
    
    
    
 
</div>