{% extends 'VitarianReceptyBundle::layout.html.twig' %}
{% block heading %}
<h1>About us</h1>
{% endblock %}
{% block breadcrumbs %}
{% endblock %}
{% block body %}
    text text text lolz
{% endblock %}