{% extends 'VitarianReceptyBundle::layout.html.twig' %}
{% block heading %}<h1>Message</h1>yxv&v
{% endblock %}
{% block breadcrumbs %}asdsadssd
{% endblock %}
{% block body %}
    {{ message }}
{% endblock %}